

.cover-overlay{
    filter: brightness(50%);
}
.card-size{
    height: 00px;
}
.img-size{
    width: 200px;
    height: 200px;
}

.institute-bg{
    background-color: #F4FAFD;
}

.register-bg{
    height: 220px;
    background-color: #289BDE;
}
.frequently-modal{
    width: 872px;
}

.bg-footer{
    background-color: #161616;
    height: 300px
}
